@import "tailwindcss";
@import "radix-themes-tw";
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";

@source "../node_modules/flowbite";

@theme{
    --color-primary: #010D26;        
    --color-secondary: #152A59;      
    --color-third: #3C568C;   
    --color-fourth: #788FBF;
    --color-fifth: #C9D6F2;
    --color-accent: #F76E6E;         
    --font-roboto: roboto;
    --breakpoints-xs: 393px;
    --breakpoints-sm: 576px;
    --breakpoints-md: 768px;
    --breakpoints-lg: 992px;
    --breakpoints-xl: 1200px;
    --breakpoints-2xl: 1400px;
    --default-font-family: "Blue Sans",BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}
