@import "tailwindcss";
@import "radix-themes-tw";
@import "flowbite/src/themes/default";

@plugin "flowbite/plugin";

@source "../node_modules/flowbite";

@theme{
    --color-primary: #FF8282;
    --color-secondary: #FF6363;
    --color-background: #BEE4D0;
    --color-text: #333333;
    --color-text-two: #2C2C2C;
    --color-text-three: #FFFFFF;
    --color-accent: #DBFFCB;
    --font-roboto: roboto;
    --breakpoints-xs: 393px;
    --breakpoints-sm: 576px;
    --breakpoints-md: 768px;
    --breakpoints-lg: 992px;
    --breakpoints-xl: 1200px;
    --breakpoints-2xl: 1400px;
}